body {
    background: linear-gradient(to right, rgb(127, 233, 108) 0%, rgb(130, 219, 113) 100%);
    ;
}

.headers {
    background: rgb(224, 222, 222);
}

.center-headers,
.create-new-note-btn {
    text-align: center;
    margin: 20px;
    margin-top: 50px;
}

span.center-headers {
    border: 2px solid black;
    padding: 10px;
    font-size: 5vh;
}

.note-title,
.note-content {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: rgb(235, 231, 231);
    font-size: 20px;
    resize: none;
}

.note-content {
    height: 150px;
    font-size: 16px;
}

.button,
.edit,
.delete {
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

.edit,
.delete {
    font-size: 2vh;
    padding: 7px 12px;
}

.delete {
    background-color: #f44336;
}

.button:hover,
.edit:hover,
.delete:hover {
    background-color: #3e8e41
}

.delete:hover {
    background-color: #f44336;
}

.button:active,
.edit:active,
.delete:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.delete:active {
    background-color: #f44336;
}

#note-list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    padding: 10px;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

.note-item {
    background: rgb(235, 231, 231);
    border: 2px solid rgb(130, 219, 113);
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    max-height: 250px;
    overflow: auto;
}

.display-note-title,
.display-note-content {
    font-size: 2vh;
    text-align: left;
    display: block;
    padding: 5px;
    padding-bottom: 60px;
}

.display-note-title {
    font-size: 2.5vh;
    font-weight: 900;
    text-align: center;
    padding-bottom: 0px;
}

li {
    list-style-type: none;
}

.note-list-header {
    border: 2px solid black;
    font-size: 30px;
    text-align: center;
    padding: 5px;
    padding-bottom: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {

    .note-title,
    .note-content {
        width: 100%;
    }

    #note-list {
        grid-template-columns: 100%;
        width: 95%;
    }
}